{% extends "account/sidebar.html.twig" %} 

{% block content %}
<style>

    p   {
      margin-left: 3px;
      font-weight: 20px;
      
    }
    #label{
      margin-left: 3px;
      text-align: center;
      font-weight: 18px;
    }
   </style>

  <div id="main" class="row">
      <div class="col-2">
        <span  id="ham" style="font-size:30px;cursor:pointer; display: inline;" onclick="openNav()">&#9776; </span>
    </div>
    <div class="col-12">
    <h2>Mon Compte</h2>
    <p id="content"> Welcome to your profile  <span>  {{app.user.firstName}} </span></p>
    
    <div class="col-9">
    {% for key in app.user.address %}
      <p>{# {{key.}} #}</p>
      <p > Tes coordonnées : </p>
        <p>{{key.streetNumber}} , {{key.street}}</p>
        <p>{{key.city}} , {{key.country}} ,{{key.zipCode}} </p>
        
       <p > Tes commandes: {{app.user.lineItems|length}} </p> 
    {% endfor %}
  </div>
  
</div>
</div>
{% endblock content %}

