{% extends 'account/sidebar.html.twig' %} 
{%block content %}
<style>
  h3{
    text-align: center;
  }
  #mySidenav {
    width: 250px;
    background-color: gray;
    padding-top: 0;
  }
  #ham {
    display: none;
  }
  .sidenav {
    padding-top: 0 !important ;
  }

</style>
<h3> <span> Veuillez remplir vos coordonnées :</span> </h3>

    <form  method="POST">
      <div class="form-group">
        <label for="inputAddress">Numéro rue</label>
        {{ form_widget(address.streetNumber) }}
      </div>

      <div class="form-group">
        <label for="inputAddress">Adresse de livraison </label
        >{{ form_widget(address.street) }}
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">Ville</label> {{ form_widget(address.city) }}
        </div>
        <div class="form-group col-md-6">
            <label for="inputCity">Pays</label> {{ form_widget(address.country) }}
          </div>
       
        <div class="form-group col-md-2">
          <label for="inputZip">Code</label> {{ form_widget(address.zipCode) }}
        </div>
        <div class="form-group col-md-2">
            <label for="inputZip">  téléphone</label> {{ form_widget(address.phone) }}
          </div>
      </div>
 
      <button type="submit" class="btn btn-outline-danger">Enregistrer</button>
      {# The hidden path to auto redirect the route #}
      {{ form_row(address._token) }}
    </form>
  </div>
  </div>
  
</div>
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

{% endblock content %}