{% extends 'account/sidebar.html.twig' %} 

{%block content %}
<style>
  h3{
    text-align: center;
  }
    #mySidenav{
      width: 250px;
      background-color:gray;
      padding-top: 0;
    }
    #ham{
      display: none;
    }
    .sidenav{
      padding-top: 0 !important ;
    }
  
  </style>
 
    <div id = "mainContent" class="col-9">
      <div id="main" class="row">
        <div class="col-2">
          <span
            id="ham"
            style="font-size:30px;cursor:pointer; display: display;"
            onclick="openNav()"
            >&#9776;
          </span>
        </div>

       
        <div class="col-lg-10">
            <div class="row register-form">
              <div class="col-lg-10">
                {{ form_start(form) }}
                    <h3> <span> Modifier le mot de passe</span> </h3>
                <label> Entrer ton nouveau mot de passe :</label>
                {{form_widget(form.password.first,{'attr': {'placeholder': 'nouveau mot de passe* '}})}}
          
                <label> Taper encore une fois ton mot de passe : </label>
                {{form_widget(form.password.second,{'attr': {'placeholder': 'Nouveau mot de passe * '}})}}
                <div class="col-md-12">
                  <div class="form-group">
                    {# <a href="path{{path('logout')}}"> #}
                    <input type="submit" class="btnRegister" value="submit" />
                  {# </a> #}
                  </div>
                </div>
                {{ form_end(form) }}
                {# The hidden path to auto redirect the route #}
                <!-- <input type="hidden" name="_target_path" action="logout" /> -->
              </div>
            </div>
          </div>
     
        {# end of content #}
      </div>
    </div>
  </div>
</div>

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

{% endblock %}
