{% extends 'base.html.twig' %} {% block title %}User orders{% endblock %} 

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 orders">
      <h4>My Orders</h4>
      <br>
      <p> <span style="font-size : 25px;">{{app.user.firstName}}</span>, voici vos commandes:  </p>

      {% for order in app.user.orders %}
      <p> <span> Order  {{ order.id }}</span> / <span></span>Status : </span>{{ order.status }} /<span></span> Montant total :</span> {{ order.total }} €</p>
      {% endfor %}
      <br>
        <hr>
      <br>
      <p class="para"> Merci pour votre confiance </p>
    </div>
  </div>
</div>
{% endblock %}
