{% extends 'base.html.twig' %} {% block title %}Santa clothes!{% endblock %}
{%block body %}

<div class="container-fluid ">
  <div class="row" id="body-row">
    <div class="col-lg-3">
      <div id="mySidenav" class="sidenav">
          <div>
          {# <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> #}
        </div>
          <a href="{{path('account')}}" data-toggle="collapse active" aria-expanded="false" class="bg-dark  list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex justify-content-start align-items-center ">
              <span class="fa fa-user fa-fw mr-3"></span>
              <span class="menu-collapsed text-white">Profil</span>
              <span class="submenu-icon ml-auto"></span>
            </div>
          </a>
      
          <a
            href="{{path('address')}}"
            aria-expanded="false"
            class="bg-dark list-group-item list-group-item-action flex-column align-items-start"
          >
            <div class="d-flex w-100 justify-content-start align-items-center">
              <span class="fa fa-map-marker fa-fw mr-3"></span>
              <span class="menu-collapsed text-white"
                >Gérer l'addresse de livraison</span
              >
              <span class="submenu-icon ml-auto"></span>
            </div>
          </a>
          <a
            href="#submenu2"
            aria-expanded="false"
            class="bg-dark list-group-item list-group-item-action flex-column align-items-start"
          >
            <div class="d-flex w-100 justify-content-start align-items-center">
              <span class="fa fa-credit-card  fa-fw mr-3"></span>
              <span class="menu-collapsed text-white"
                >Mes moyens de paiement</span
              >
              <span class="submenu-icon ml-auto"></span>
            </div>
          </a>
          <a href="{{ path('change_password')}}"  class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-start align-items-center">
              <span class="fa fa-unlock-alt fa-fw mr-3"></span>
              <span class="menu-collapsed text-white">Modifier mon mot de passe</span>
              {# <span class="submenu-icon ml-auto"></span> #}
            </div>
          </a>

          <a
            href="#submenu2"
            aria-expanded="false"
            class="bg-dark list-group-item list-group-item-action flex-column align-items-start"
          >
            <div class="d-flex w-100 justify-content-start align-items-center">
              <span class="fa fa-history fa-fw mr-3"></span>
              <span class="menu-collapsed text-white">Historique d'achat </span>
              <span class="submenu-icon ml-auto"></span>
            </div>
          </a>
          <a
            href="#submenu2"
            aria-expanded="false"
            class="bg-dark list-group-item list-group-item-action flex-column align-items-start"
          >
            <div class="d-flex w-100 justify-content-start align-items-center">
              <span class="fa fa-comments fa-fw mr-3"></span>
              <span class="menu-collapsed text-white">Mes commentaires </span>
              <span class="submenu-icon ml-auto"></span>
            </div>
          </a>
          </div>
    </div>

    <div class="col-9">
            {% block content %}

            {% endblock content %}

    </div>



  </div>
</div>

<script>
  function openNav() {

    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
    document.getElementById("ham").style.display = "none";    
  }

  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
    document.body.style.backgroundColor = "white";
    document.getElementById("ham").style.display = "inline";

  }
</script>

{% endblock %}
