* {
    /*border: 1px black solid;*/
    margin: 0px;
    padding: 0px;
}
/* Height of the main navbar */
#collapse_target{
    height: 50px;
}

@font-face {
    font-family: 'Sacramento';
    src: url('/fonts/Sacramento-Regular.ttf');
}

.div-main-title {
    height: 100%;
}

.main-title {
    font-family: Sacramento;
    font-size: 3em;
    font-weight: normal;
    z-index: 15;
    color: black;
}

body {
    min-width: 320px;
}

.container-fluid {
    margin-top: 50px;
    padding-right: 0px;
    padding-left: 0px;
}

a {
    text-decoration: none !important;
    padding-left: 15px;
}

.modal-dialog {
    top: 30vh;
}

.dark-backdrop {
    background: rgba(0,0,0,.4);
}


#navcontainer {
    background-color: white !important;
}

#logo {
    width: 45px !important;
    height: 37px !important;
}

.card-text {
    color: black;
    font-size: 18px;
    /* font-weight: bold; */
    text-align: center;
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace !important;
}

.col-12,
.col-6,
.col-3 {
    padding: 10px;
}

.carousel {
    height: 95vh;
}

.container {
    margin-top: 8px;
    padding-left: 0px;
}

.carousel-inner {
    height: 95vh;
    object-fit: contain;
}

.navbar-brand 
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
}
@media screen and (max-width: 600px) {
     #logo{
        left : 50%;
        transform: translateX(330%);
    }
    .main-title{
        display:none
    }
  }


.text-info {
    color: black !important;
    font-size: 18px;
    /* font-weight: bold; */
    text-align: center;
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
}

.text-dark {
    font-weight: bold;
}

/* This CSS is for the Registration / Login Form  */

.register {
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    margin-top: 3%;
    padding: 3%;
    margin-bottom: 2%;
    padding-bottom: 8%;
}

.register-left {
    text-align: center;
    color: #fff;
    margin-top: 4%;
}

.register-left input {
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}

.register-right {
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}

.register-left img {
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

.register-left p {
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}

.register .register-form {
    padding: 10%;
    margin-top: 10%;
}

.btnRegister {
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}

.register .nav-tabs {
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 35%;
    float: right;
}

.register .nav-tabs .nav-link {
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border: none;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.register .nav-tabs .nav-link:hover {
    border: none;
}

.register .nav-tabs .nav-link.active {
    width: 120px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.register-heading {
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}

@media screen and (max-width: 600px) {
    #carouselExampleControls {
        visibility: hidden;
        clear: both;
        float: left;
        margin: 10px auto 5px 20px;
        width: 28%;
        display: none;
        font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    }
    #buttons {
        visibility: hidden;
    }
}

.navbar-toggler-icon {
    color: lightgreen;
    /* background-color: rgba(255, 201, 213, 0.212); */
    /* background-color: lightgreen; */
    /* border: 1px solid black; */
}

.navbar {
    font-weight: bold;
    font-size: 1.2em;
}

.sidenav {
    width: 0;
    position: relative;
    z-index: 1;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px !important;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: brown;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.selects-filters-admin {
    position: fixed;
    top: 100px;
    z-index: 10;
    background-color: white;
}

.admin-sideNav {
    position: fixed;
    left: 30px;
}

.btn-admin-add-product {
    position: fixed;
    right: 30px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    margin-top: 0px;
}

@media screen and (max-height: 110vh) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.list-group-item.active {
    border-color: white;
}

a {
    text-decoration: none !important;
    color: Black;
}

h4 {
    text-align: center;
}

a:hover {
    color: brown;
}

span {
    color: brown;
    font-size: 19px;
}

.orders,
.recap {
    margin-left: 15px;
    margin-right: 15px;
    height: auto;
}

.paraRecap {
    color: brown;
}

.para {
    text-align: center;
    color: brown;
}

/* Le shopping cart et son media querie */

.table>tbody>tr>td,
.table>tfoot>tr>td {
    vertical-align: middle;
}

.actions .btn {
    width: 19%;
    margin: 1.5em 0;
}


/* Boutton update */


/* .actions .btn-info {
            float: left;
        } */

.actions .btn-danger {
    float: right;
}

table#cart thead {
    display: none;
}

table#cart tbody td {
    display: block;
    padding: .6rem;
    min-width: 320px;
}

table#cart tbody tr td:first-child {
    /* background: #333; */
    /* color: #fff; */

    background: rgb(223, 223, 223);
    border-radius: 10px;
    margin: 10px;
}

table#cart tbody td:before {
    content: attr(data-th);
    font-weight: bold;
    display: inline-block;
    width: 8rem;
}

table#cart tfoot td {
    display: block;
}

table#cart tfoot td .btn {
    display: block;
}

/* style for images of each category in the index page  */
.imgCatIndex{
    width: 280px;
    height: 300px;
    margin-left: 10px;
    padding: 20px;
    justify-content: center;
    margin: auto;
}
/* Style for all product page  */
.imgProduct{

    padding-top: 10px;
    width: 280px;
    height: 300px;
    margin-left: 10px;
    padding: 20px;
    justify-content: center;
    margin: auto;
    
}
.divProduct{
    text-align: center;
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace !important;
    font-size: 18px;
    width: 100%;
    justify-content: center !important;
}
.product-grid{
    margin-top: 15px;
    padding-left: 10%;
    padding-right: 10%;
} 
@media screen and (max-width: 600px) {
    .product-grid{
        padding-left: 0%;
        padding-right: 0%;
    } 
   #productContainer{
       width: 100% !important;
       padding-left: 0%;
   }
   
   .imgProduct{
     margin: 50px;
    }
    .imgCatIndex{
        margin: 50px;
    }
   #wrapper{
    width: 100%;
    
    padding-left: 0;
    padding-right: 0;
   }
 }

/* INDISPONIBLE EFFECT OVER PRODUCTS */

    .centered{
    position: relative;
    left: 55%;
    transform: translate(-50%, -50%);
    z-index: 15;
    width: 150px;
    bottom: 55%;
    font-size: 20px;
    color: White;
    font-weight: bold;
}
/* One product Style */
.card-img-top {
    padding-left: 20px;
}

.oneProductImg {
    width: 450px;
    height: 450px;
}

.oneProductTitle {
    text-transform: uppercase;
}

.oneProductDiv{
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 20px;
}
/* Footer map  */

.map-container-6{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container-6 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

.footerCat{
    text-align: center;
    padding-top: 20px;
    
}    
.footerPara{
    color: brown !important;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
}
.footerInfo{
    color: black;
    font-weight: bold;
    font-size: 16px;
}

.footerRow{
    padding-top: 20px;
}
.fab{
    font-weight: bold;
    font-size: 16px;
}
.copyright{
    color: black;
    font-size: 15px;
    font-weight: bold;
    font-family: Sacramento;
}
