{% extends 'baseAdmin.html.twig' %} {% block title %}Admin-panel{% endblock %} {%block body %}
<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-end">
            <a href="{{path('add_product')}}"><button class="btn btn-success btn-admin-add-product">Ajouter un produit</button></a>
        </div>
    </div>
    <div class="row" id="body-row">
        <div class="col-2">
            <div id="admin-sideNav" class="admin-sideNav">
                <a href="#submenu2" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-user fa-fw mr-3"></span>
                        <span class="menu-collapsed text-white">Profil</span>
                        <span class="submenu-icon ml-auto"></span>
                    </div>
                </a>
                <a href="{{path('product_stocks')}}" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-map-marker fa-fw mr-3"></span>
                        <span class="menu-collapsed text-white">Produits</span>
                        <span class="submenu-icon ml-auto"></span>
                    </div>
                </a>
                <a href="#submenu2" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-credit-card  fa-fw mr-3"></span>
                        <span class="menu-collapsed text-white">Commandes</span>
                        <span class="submenu-icon ml-auto"></span>
                    </div>
                </a>
                <a href="{{ path('change_password')}}" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-unlock-alt fa-fw mr-3"></span>
                        <span class="menu-collapsed text-white">Options</span> {# <span class="submenu-icon ml-auto"></span> #}
                    </div>
                </a>
                <a href="#submenu2" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-history fa-fw mr-3"></span>
                        <span class="menu-collapsed text-white">Historique d'achat </span>
                        <span class="submenu-icon ml-auto"></span>
                    </div>
                </a>
                <a href="#submenu2" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-comments fa-fw mr-3"></span>
                        <span class="menu-collapsed text-white">Mes commentaires </span>
                        <span class="submenu-icon ml-auto"></span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-6 col-md-8 col-sm-12 m-5">
            {% block content %} {% endblock %}
        </div>
    </div>
</div>
{% endblock %}