<!-- Modal -->
<div class="modal fade align-items-center" id="modalAddProduct" tabindex="-1" role="dialog" aria-labelledby="modalAddProduct" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body justify-content-center">
                <div class="row justify-content-end">
                    <div class="col-10">
                        {#                        {% if oneproduct is defined %}#}
                        {#                            <a href="{{path('add_product_to_cart', {id: oneproduct.id})}}">#}
                        <button type="button" class="close close-modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {#                            </a>#}
                        {#                        {% endif %}#}
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="alert alert-success" role="alert">
                            Votre article a bien été ajouté au panier!
                        </div>
                    </div>
                </div>
                <div class="row justify-content-around">
                    <button type="button" class="btn btn-secondary close-modal">Continuer mes achats</button>
                    <a href="{{path('shopping_cart')}}">
                        <button type="button" class="btn btn-primary">Voir mon panier</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>