{% extends "admin/panel.html.twig" %} {% block content %}
<div class="add-product-form">
    {{ form_start(form) }} {{ form_widget(form) }}
    <input type="submit"> {{ form_end(form) }}
</div>
{% endblock %}