{% extends 'base.html.twig' %} {% block title %}Santa Clothes {% endblock %} {% block body %}
<div class="container-fluid">
    <div id="carouselExampleControls" class="carousel slide" data-interval="2100" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="https://s3-eu-central-1.amazonaws.com/zalando-lounge-frontend-blog-magazine-live/wp-content/uploads/sites/5/2016/11/iStock_90895705_SMALL.jpg" alt="First slide" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://vignette.wikia.nocookie.net/quantico/images/6/67/Jon_Kortajarena_%285%29.png/revision/latest?cb=20180307112733" alt="First slide" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://pbs.twimg.com/media/Deof2AhVMAAZWdo.jpg:large" alt="First slide" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="container ">
      {{ render(controller( 'App\\Controller\\ProductController::showOptions' )) }}

        {# {% extends 'base.html.twig' %} {% block title %}Santa Clothes {% endblock %} {% block body %}
        <section class="container-fluid"> #} {% for gender in genders %}
            <a class="text-info" href="{{path('product_by_gender', {'id':gender.id})}}">{{gender.label}}</a>
            <div class="col-lg-12 justify-content-center">
                <div class="row justify-content-center">
                    <div class="d-md-inline-flex flex-row">
                        {% for cat in cats %}
                        <div class="" style="border: none;">
                            <img src="uploads/{{gender.label}}_{{cat.label}}.jpg" class="imgCatIndex">
                            <a class="text-info stretched-link" href="{{path('product_by_options', {gender: gender.id, cat: cat.id})}}">{{cat.label}}</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
    </div>
</div>

{% endblock %} {# </section>
{% endblock %} #} {# {% for gender in genders %}
<a class="text-info align-content-center" href="{{path('product_by_gender', {'id':gender.id})}}">{{gender.label}}</a>

<div class="col-12 md-4 sm-12">
    <div class="row">
        <div class="d-md-inline-flex flex-row justify-content-center">
            <div class="card col-4-sm-6 ml-3" style="border: none;">
                <img src="https://www.cdiscount.com/pdt2/7/9/1/1/700x700/s98791/rw/adidas-originals-sweat-a-capuche-homme-bleu-ma.jpg" class="card-img-fluid img-thumbnail" href='#'>
                <a class="text-info">Hauts</a>
            </div>
            <div class=" card col-4-sm-6 ml-3 " style="border: none; ">
                <img src="https://contents.mediadecathlon.com/p1601615/k$e92e36221e3b74ec1bd4356e53e9a150/sq/Pantalon+Adidas+3+bandes+femme+noir.jpg?f=700x700" class="card-img-fluid img-thumbnail">
                <a class="text-info " href="# ">Bas</a>
            </div>
            <div class="card col-4-sm-6 ml-3 " style="border: none; ">
                <img src="https://i2.cdscdn.com/pdt2/9/8/1/1/700x700/mp18112981/rw/baskets-nike-nike-zoom-2k.jpg" class="card-img-fluid img-thumbnail ">
                <a class="text-info" href="# ">Chaussures</a>
            </div>
            <div class="card col-4-sm-6 ml-3 " style="border: none; ">
                <img src="https://www.bijourama.com/media/produits/lacoste-montres/img/montre-lacoste--homme-2010966_2010966_680x680.jpg" class="card-img-fluid img-thumbnail">
                <a class="text-info" href="# ">Accesoires</a>
            </div>
        </div>

    </div>
</div>

{% endfor %} #}
