{% extends 'base.html.twig' %} {% block title %}Tous les Produits {% endblock %} 
{% block body %}
    <div class="container-fluid">
        <div class="row ml-5">
            <p><a href="{{ path('index') }}">Accueil</a>
                ><a href="{{ path('product_by_gender', {'id':options.id}) }}">{{ options.label }}</a></p>
        </div>
    </div>
<div class="container-fluid product-grid">
  <div id="wrapper" class="col-lg-12 justify-content-center">
    <div  class="row justify-content-center">
    {% for product in options.products %}
    <div id="productContainer" class="d-md-inline-flex flex-row " >
      <a href="{{ path('one_product', { id: product.id }) }}">
      {% if product.image %}
      <img src="{{ asset( product.image ) }}" class="imgProduct"/>
      {% endif %}
        <div class="divProduct">
            <p class="paraProduct">{{ product.name }}</p>
            <p class="paraProduct">{{ product.price }} €</p>
        </div>

        {% if product.stock <= 0 %}
        <div class="centered"> 
                INDISPONIBLE 
        </div>
        {% endif %}
        
    </a>
</div>
    {% endfor %}
</div>
</div>
</div>

{# <script>
    if( product.stock <= 5){
           document.getElementsByClassName('productContainer').style.opacity="0.2;"
    }
</script> #}
{% endblock %}

