{% extends 'base.html.twig' %} {% block title %}List Products{% endblock %} {% block body %}

    <div class="container">

        <div class="row justify-content-center">
            {% if found is defined and found == true %}
                <div class="alert alert-danger fade show" role="alert">
                    <strong>Désole</strong> nous avons pas saisi votre demande
                    <a href="{{path('index')}}" class="btn btn-outline-light">close</a>
                </div>
            {% endif %}

{#            {% for product in products %}#}

{#                <div class="card mr-3 mt-5 mb-5" style="width: 17rem;">#}
{#                    <a href="{{path('one_product', {'id':product.id})}}" class="stretched-link"> </a>#}
{#                    <p class="card-text"> {{product.name}}</p>#}
{#                    {% if product.image %}#}
{#                        <img src="{{ asset( product.image ) }}" class="card-img-top"> {% endif %}#}
{#                    <div class="card-body">#}
{#                        <p class="card-text"> Type : {{product.type}}</p>#}
{#                        <p class="card-text">Prix : {{product.price}}</p>#}
{#                        <p class="card-text">Disponibilité : {{product.stock}}</p>#}
{#                    </div>#}
{#                </div>#}
{#            {% endfor %}#}
        </div>
    </div>
    {% if gender is defined and cat is defined %}
        <div class="container-fluid">
            <div class="row ml-5">
                <p><a href="{{ path('index') }}">Accueil </a>
                    ><a href="{{ path('product_by_gender', {'id':gender.id}) }}">{{ gender.label }}</a>
                    ><a href="{{ path('product_by_options', {gender:gender.id, cat:cat.id}) }}">{{ cat.label }}</a>
                </p>
            </div>
        </div>
    {% endif %}


    <div class="container-fluid product-grid">
        <div id="wrapper" class="col-lg-12 justify-content-center">

            <div class="row justify-content-center">
                {% for product in products %}
                    <div id="productContainer" class="d-md-inline-flex flex-row " >
                        <a href="{{ path('one_product', { id: product.id }) }}">
                            {% if product.image %}

                                {% if product.stock <= 5 %}
                                    <img src="{{ asset( product.image ) }}" class="imgProduct backdrop"/>
                                {% else %}
                                    <img src="{{ asset( product.image ) }}" class="imgProduct"/>
                                {% endif %}
                            {% endif %}

                            <div class="divProduct">
                                <p class="paraProduct"> {{ product.name }}</p>
                                <p class="paraProduct">Prix : {{ product.price }} €</p>
                            </div>

                            {% if product.stock <= 0 %}
                                <div class="centered">
                                    INDISPONIBLE
                                </div>
                            {% endif %}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
