{% extends 'base.html.twig' %} {% block title %} Santa Clothes {% endblock %} {% block body %}
    {#    TODO :  find a way to display the path to the product#}
    <div class="container-fluid">
        <div class="row ml-5">
            <p><a href="{{ path('index') }}">Accueil </a>
                {% for option in oneproduct.options|sort %}
                    <a href="{{ path('product_by_gender', {'id':option.id}) }}">{{ option.label }}</a>
                {% endfor %}

                {# ><a href="{{ path('product_by_gender', {'id':oneproduct.options.id}) }}">{{ oneproduct.options.label }}</a>#}
                {# ><a href="{{ path('product_by_options', {gender:gender.id, cat:cat.id}) }}">{{ cat.label }}</a>#}
            </p>
        </div>
    </div>


    <div class="container-fluid">
        {#
        <p class="text-info">{{oneproduct.name}}</p> #}
        <div class="row oneProductDiv">
            <div class="col-12 col-md-6 d-flex justify-content-center">
                <img src="{{ asset( oneproduct.image ) }}" class="oneProductImg">

            </div>
            <div class="col-12 col-md-6">
                <div class="card-body">
                    <h3 class="oneProductTitle">{{oneproduct.type}}</h3>
                    <p class="">Prix : {{oneproduct.price}} €</p>
                    <p class="" >Pick a size :
                        <select name="size" id="size">
                            {% for size in sizes  %}
                                <option value="{{ size.label }}">{{ size.label }}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <p class="">Pick a color :
                        <select name="color" id="color">
                            {% for color in colors  %}
                                <option value="{{ color.label }}">{{ color.label }}</option>
                            {% endfor %}
                        </select>
                    </p>
                    {% if oneproduct.stock <= 0 %}
                    <p>INDISPONIBLE</p>
                    <p>Etre informé.e dès que le produit est en stock : <br>
                        <a href="#" class="btn btn-outline-primary ">Valider
                        </a>
                    </p>

                    {% else %}
                    <div class="d-flex justify-content-center">
                        {% if app.user %}
                            <a href="{{path('add_product_to_cart', {id: oneproduct.id})}}"
                               class="btn btn-outline-primary " id="btn-add-to-cart" data-id="{{ oneproduct.id }}"
                               data-path="{{ path('add_product_to_cart', {id: oneproduct.id}) }}"
                                    {#data-toggle="modal" data-target="#modalAddProduct"#}>
                                Ajouter au panier
                            </a>
                        {% else %}
                            <a href="{{path('login')}}" class="btn btn-outline-primary ">Ajouter au panier
                            </a> {% endif %}

                        {% endif %}
                    </div>
                </div>


            </div>
        </div>
    </div>


    {# {% for form in form %}
    <div class="row oneProductDiv">
    <div class="row col-12 ml-5 mt-3 ">
        <div class="card ">
            <h5 class="card-header  ">Commentaires</h5>
        </div>
    </div>
    <div class="card col-12 mt-3 ">
        <h5 class="card-header ">testdu69</h5>
        <div class="card-body ">
            <p class="card-text ">
            </p>
        </div>
    </div>
    {% endfor %} #}
    {% if app.user %} {{form_start(form)}}
        <form action="{{path('add_comment', {'id':oneproduct.id})}}">
            {{form_widget(form)}}
            <button type="submit">add</button>
        </form>
        </div>
        {{form_end(form)}} {% endif %} {% endblock %}
