{% extends "admin/panel.html.twig" %} {% block content %}
    {# TODO: change this part for a render controller with all options #}

{#        <div class="selects-filters-admin">#}
{#            <label for="gender">Genre</label>#}
{#            <select name="" id="gender" onchange="selectStockByGender()">#}
{#                <option value="">Tout</option>#}
{#                {% for gender in genders %}#}
{#                    <option value="{{ gender.id }}">{{ gender.label }}</option>#}
{#                {% endfor %}#}
{#            </select>#}
{#            <label for="category">Catégorie</label>#}
{#            <select name="" id="category" onchange="selectStockByOptions()">#}
{#                <option value="">Tout</option>#}
{#                {% for cat in cats %}#}
{#                    <option value=""{{ cat.id }}>{{ cat.label }}</option>#}
{#                {% endfor %}#}
{#            </select>#}
{#                    <label for="category">Sous-catégorie</label>#}
{#                    <select name="" id="category">#}
{#                        <option value="">Pantalons</option>#}
{#                        <option value="">Pull</option>#}
{#                        <option value="">Short</option>#}
{#                        <option value="">T-shirt</option>#}
{#                        <option value="">Chemise</option>#}
{#                        <option value="">Chaussettes</option>#}
{#                        <option value="">Montres</option>#}
{#                        <option value="">Lunettes de soleil</option>#}
{#                        <option value="">Tongues</option>#}
{#                    </select>#}
{#        </div>#}
    <div class="list-products">
        {% if options is defined %}
            {% for product in options.products %}
                <div class="card mb-3">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-end pr-4">
                            <a href="#"><button class="btn btn-primary btn-update-product" data-id="{{ product.id }}" onclick="updateProduct()">Modifier</button></a>
                            <a href="{{ path('remove_product', {'id':product.id}) }}"><button class="btn btn-danger">Supprimer</button></a>
                        </div>
                        <div class="row col-12 product-stock-card pl-4 mb-3">
                            <a href="{{path('one_product', {'id':product.id})}}"></a>
                            {% if product.image %}
                            <div class="col-2">
                                <img src="{{ asset( product.image ) }}" class="img-thumbnail" width="150px"
                                     height="150px"> {% endif %}
                                <a href="{{ path('one_product', {'id': product.id}) }}" class="stretched-link"></a>
                            </div>
                            <div class="col-9">
                                <div class="card-text row">
                                    <div class="col-6">
                                        <p class="text-dark" id="el-product-name{{ product.id }}">Titre : <span>{{product.name}}</span></p>
                                        <p class="text-dark" id="el-product-type{{ product.id }}">Type : <span>{{product.type}}</span></p>
                                    </div>
                                    <div class="col-6">
                                        <p class="text-dark" id="el-product-price{{ product.id }}">Prix : <span>{{product.price}}</span> €</p>
                                        <p class="text-dark" id="el-product-stock{{ product.id }}">Stock : <span>{{product.stock}}</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        {% endif %}

        {% if products is defined %}
            {% for product in products %}
                <div class="card mb-3">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-end pr-4">
                            <a href="#"><button class="btn btn-primary btn-update-product" data-id="{{ product.id }}">Modifier</button></a>
                            <a href="{{ path('remove_product', {'id':product.id}) }}"><button class="btn btn-danger">Supprimer</button></a>
                        </div>
                        <div class="row col-12 product-stock-card pl-4 mb-3">
                            <a href="{{path('one_product', {'id':product.id})}}"></a>
                            {% if product.image %}
                            <div class="col-2">
                                <img src="{{ asset( product.image ) }}" class="img-thumbnail" width="150px"
                                     height="150px"> {% endif %}
                                <a href="{{ path('one_product', {'id': product.id}) }}" class="stretched-link"></a>
                            </div>
                            <div class="col-9">
                                <div class="card-text row">
                                    <div class="col-6">
                                        <p class="text-dark" id="el-product-name{{ product.id }}">Titre : <span>{{product.name}}</span></p>
                                        <p class="text-dark" id="el-product-type{{ product.id }}">Type : <span>{{product.type}}</span></p>
                                    </div>
                                    <div class="col-6">
                                        <p class="text-dark" id="el-product-price{{ product.id }}">Prix : <span>{{product.price}}</span> €</p>
                                        <p class="text-dark" id="el-product-stock{{ product.id }}">Stock : <span>{{product.stock}}</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
