{% extends 'base.html.twig' %} {% block title %}Santa Clothes {% endblock %} {% block body %} {# {#
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> {# #} {#
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> #} {# #} {#
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> #}


    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> {% if app.user %}

        <div class="container mt-5">
        <div class="card shopping-cart">

            <div class="card-body">
                <!-- PRODUCT -->
                {% for item in app.user.lineItems %}
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-2 text-center ">
                            <img class="img-responsive" src="{{ asset( item.product.image ) }}" alt="prewiew" width="120" height="80">
                        </div>
                        <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6 ">
                            <h5 class="product-name"><strong>{{item.product.name}}</strong></h5>
                            <h5>
                                <small class="text-muted">{{item.product.type}}</small>
                            </h5>
                        </div>
                        <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
                            <div class="col-3 col-sm-3 col-md-3 text-md-right" style="padding-top: 5px">
                                <h6><strong>P.U : {{item.product.price}}<span class="text-muted"> €</span></strong></h6>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3">
                                <div class="quantity">
                                    <input type="number" class="form-control text-center lineItem-quantity"
                                           min="1" max="{{ item.product.stock + item.quantity}}" data-item="{{ item.id }}"
                                           value="{{item.quantity}}" data-path="{{ path('update_quantity', {id: item.id}) }}">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 text-md-right" style="padding-top: 5px">
                                <h6><strong>P.T : <span class="total{{ item.id }} text-dark">{{item.price|round(2)}}</span><span class="text-muted"> €</span></strong></h6>
                            </div>
                            <div class="col-2 col-sm-2 col-md-2 text-right">
                                <a href="{{path('delete_line', {user: app.user.id, id: item.id})}}">
                                    <button type="button" class="btn btn-outline-danger btn-xs">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>


                    <hr> {% endfor %}
                <!-- END PRODUCT -->

            </div>
            <div>
                <div class="pull-right mb-2">
                        <h4 class="text-dark">TOTAL : <span class="total-price text-dark">{{ total }}</span> €</h4>
                </div>

            </div>
            <div class="pull-right mb-3">
                <a href=" {{path( 'checkout_shopping_cart')}} " class="btn btn-success col-12 col-md-3 pull-right mb-3 ">Valider le panier ></a>
                <a href="{{path('index')}}" class="btn btn-primary col-12 col-md-3">
                    < Poursuivre les achats </a>

            </div>


        </div>
    {% endif %} {% endblock %}
