{% extends "shopping_cart/sidebar.html.twig" %} 

{% block paiement %}
<style>
    #recap {
        display: none;
    }
    *{
        text-align: center;
    }
    .wrapper{
        text-align: center;
      }
     #row1 , #row2{
         visibility: hidden;
     } 
</style>
        
    <div class="wrapper">
        <p> Votre numéro de carte : ************* </p>
        <p> Votre Nom sur la carte : Mme / Mr *********</p>
        <p> Code de sécurité : ***</p>
        <p> Date d'expiration : 12/23</p>
        <p> Vous voulez changer votre carte ? clicquer ici.</p>
        <a href="{{ path('address_validate')}}" class="btn btn-dark"> <--Addresse</a>

        <a href="{{path('confirm_order')}}" class="btn btn-dark">Validez</a>
    
    </div>
    <script>

        document.getElementBy('row1').style.display ="none";
        
        document.getElementById('paiement').classList.add('active');

    </script>
 
{% endblock paiement %}