{% extends 'base.html.twig' %} {% block title %}Santa clothes!{% endblock %}
{%block body %}
    <style>
        .wrapper{
            text-align: center;
        }
        #maDiv{
            background: -webkit-linear-gradient(left, #4840b6, #00c6ff);
        }
        .recap{
            color: white;
        }
    </style>
    <div class="container-fluid">
        <div class="row"></div>
        <div class="col-12"></div>
        <nav class="navbar navbar-expand navbar-light bg-light ">
            <div id="maDiv"  class="collapse navbar-collapse justify-content-center">
                <ul class="navbar-nav container">
                    <li id="recap" class="nav-item active col-4" style="display: block;">
                        <a class="nav-link" href="#"> <span>Récapulatif</span> <span class="sr-only">(current)</span></a>
                        <div id="row1" class="row">
                            <div class="recap" >
                                {% for lineItem in app.user.lineItems %}
                                    <p>{{ lineItem.product.name }} - {{ lineItem.price }} €</p>
                                {% endfor %}
                                {% if total is defined %}
                                    <p>TOTAL : {{ total }} €</p>
                                    {% elseif order is defined %}
                                    <p>TOTAL : {{ order.total }} €</p>
                                {% endif %}
                                <h5 class="card-title">Infos personnelle</h5>
                                <p> {{ app.user.firstName }} {{ app.user.lastName }}</p>
                                <p>email: {{ app.user.email }}</p>
                                <div class="wrapper">
                                    <a href="{{ path('address_validate')}}"
                                       class="btn btn-dark ">Validez --> </a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li id="addressValidator" class="nav-item col-4 ">
                        <a class="nav-link" href="#"> <span> Vérification de l'addresse de livraison </span></a>
                        <div id="row2" class="row">
                            <div class="addressValidator">

                                {% block address %}

                                {% endblock address %}
                            </div>
                        </div>
                    </li>

                    <li id="paiement" class="nav-item col-4">
                        <a class="nav-link" href="#"> <span>Paiement </span> </a>
                        <div class="row">
                            <div class="paiement">

                                {% block  paiement %}

                                {% endblock paiement %}
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    </div>
    </div>
{% endblock %}
