{% extends "shopping_cart/sidebar.html.twig" %} 

{% block address %}
<style>
    #recap{
        display: none;
    }
    *{
        text-align: center;
    }
    .wrapper{
        text-align: center;
      }
      p ,a {
          color: white;
      }
</style>
    {% if app.user.address %}

    {% for key in app.user.address %}
      <p>{{key.streetNumber}} , {{key.street}}</p>
      <p>{{key.city}} , {{key.country}} ,{{key.zipCode}} </p>
      <a href="{{path('address')}}">Vous voulez changer votre addresse de livraison ? <br> Cliquer ici.</a> <br>

        {% endfor %}

        <p> Vous n'avez pas encore rempli le formulaire d'addresse de livraison!</p><br>
    <a href="{{path('address')}}">Veuillez cliquez ici pour remplir le formulaire.</a> <br>
    {% endif %}
    <br>    
    
    <div class="wrapper">
        <a href="{{ path('checkout_shopping_cart')}}" class="btn btn-dark"> <-- Récapulatif</a>
        <a href="{{path('cart_pay')}}" class="btn btn-dark">Validez --></a>
    </div>

    <script>
        document.getElementById('row1').style.visibility ="hidden";
        document.getElementById('addressValidator').classList.add('active');
    </script>
 
{% endblock address %}
