{% block footer %}
<!-- Footer -->


<!--Section: Contact v.1-->
<section class="footerSection" style="background-color: #c5c8ce">

        <div class="row footerRow">
            <div class="col-lg-6  footerCat">
                {% for gender in genders %} <p>   
                      <a class="footerPara" 
                      href="{{ path('product_by_gender', {'id':gender.id}) }}">{{ gender.label }}</a> 
                    </p>
                {% endfor %}
            <br> <br>
                 <!--Buttons-->
            <div class="row text-center">
                    <div class="col-md-4">
                      <a class="btn-floating blue accent-1"><i class="fas fa-map-marker-alt"></i></a>
                      <p class="footerInfo">Lyon, Vénissieux</p>
                      <p class="footerInfo">France</p>
                    </div>
            
                    <div class="col-md-4">
                      <a class="btn-floating blue accent-1"><i class="fas fa-phone"></i></a>
                      <p class="footerInfo">+ 33 176 498 498</p>
                      <p class="footerInfo" >Lun - Ven, 8:00-20:00</p>
                    </div>
            
                    <div class="col-md-4">
                      <a class="btn-floating blue accent-1"><i class="fas fa-envelope"></i></a>
                      <p class="footerInfo">info@gmail.com</p>
                      <p class="footerInfo">rdmmsimplon@gmail.com</p>
                    </div>
            </div>
            
            <div class="container text-center text-md-left pt-2" style="color: black;">
                       
                    </div>
                    <!-- Social buttons -->
                    <ul class="list-unstyled list-inline text-center " style="color:brown;">
                        <li class="list-inline-item">
                            <a class="btn-floating btn-fb mx-1">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-tw mx-1">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-gplus mx-1">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-li mx-1">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-google mx-1">
                                <i class="fab fa-google"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- Social buttons -->
                    <br>
                    <ul class="list-unstyled list-inline text-center " >
                      <a href="#"><li class="fab"> Conditions générales d'utilisation </li></a> 
                    </ul>
                <!-- Copyright -->
                    <div class="footer-copyright text-center py-3 fab "class="copyright">© 2018 Copyright:
                        <a href="https://mdbootstrap.com/education/bootstrap/" > SantaClothes.com</a>
                    </div>
                <!-- Copyright -->

            </div> 
          <!--Grid column-->
          <div class="col-lg-6">
            <!--Google map-->
            <div style="width: 100%"><iframe width="95%" height="430" 
                src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=Simplon.co%2C%2010%20Rue%20Georges%20Lyvet%2C%2069200%20V%C3%A9nissieux+(Santa%20Clothes)&amp;ie=UTF8&amp;t=&amp;z=16&amp;iwloc=A&amp;output=embed"
                 frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                <a href="https://www.maps.ie/coordinates.html">find my coordinates</a></iframe></div><br />
      
            <br>
           
    
           
          <!--Grid column-->
      
        </div>
      
      
      </section>
{% endblock %}


















