<div class="banner">
<nav id="navcontainer" class="navbar navbar-expand-lg text-white bg-secondary fixed-top pt-0 pb-0">
    {# Santa Clothes Logo #}
    <div class="navbar-brand">
        <a  id="logo_wrapper" href="{{path('index')}}" class="d-flex justify-content-center align-items-center div-main-title">
            <span class="main-title  pt-2">Santa</span>
            <div class=" text-white pl-3 pt-1">
                <img id="logo"  src="https://cdn4.iconfinder.com/data/icons/christmas-2018-3/512/Santasantaclaussanta_facechristmas-512.png">
            </div>
            <span class="main-title pt-2 ">Clothes</span>
        </a>
    </div>
    <button class="navbar-toggler navbar-light" data-toggle="collapse" data-target="#collapse_target">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapse_target">
        <ul class="navbar-nav mr-auto">
            {% for gender in genders %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" role="button" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ gender.label }}
                    </a>
                <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                    <a class="dropdown-item text-dark" href="{{path('product_by_gender', {'id': gender.id})}}">Tout</a> 
                    {% for cat in cats %}
                    <a class="dropdown-item text-dark" href="{{path('product_by_options', {gender: gender.id, cat: cat.id})}}">{{cat.label}}
                            </a> {% endfor %}
                </div>
            </li>
            {% endfor %}
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">

            <form action="{{path('search_results')}}" class="form-inline">
                <div class="md-form my-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name='Search' style="background: none;">
                </div>
            </form>
            <li class="nav-item dropdown">
                <a class="nav-link" id="shoppingcart" href="{{path('shopping_cart')}}" style="color:black;">
                    <i class="fa fa-shopping-cart"></i> Panier {% if app.user %}
                        <span class="badge shopping-cart-number">{{ app.user.lineitems|length }}</span>

                    {% endif %}
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black;">
                    <i class="fas fa-user"></i>
                </a>

                <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">

                    {% if app.user %} {% if is_granted('ROLE_ADMIN') %}
                    <a class="visible dropdown-item text-dark" href="{{path('admin_panel')}}">Administration</a> {% else %}
                    <a class="visible dropdown-item text-dark" href="{{path('account')}}">Mon Compte</a> {% endif %}
                    <a class="visible dropdown-item text-dark" href="{{path('logout')}}">Déconnexion</a> {% else %}
                    <a class="visible dropdown-item text-dark" href="{{path('register')}}">Inscription</a>
                    <a class="visible dropdown-item text-dark" href="{{path('login')}}">Connexion</a> {% endif %}
                </div>
            </li>
        </ul>
    </div>

</nav>
</div>