<nav id="navcontainer" class="navbar navbar-expand-lg text-white bg-secondary  sticky-top pb-0 mb-0">
    <div class="navbar-brand text-dark">
        {% if is_granted('ROLE_ADMIN') %}
            <div class="row">
                <div class="col-6">
                    <h2>Admin Panel</h2>
                </div>
                <div class="col-6">
                    <p>You are logged as {{ app.user.firstName }}</p>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="collapse navbar-collapse" id="collapse_target">

        {#        <ul class="navbar-nav mr-auto">#}
        {#            {% for gender in genders %}#}
        {#                <li class="nav-item dropdown">#}
        {#                    <a class="nav-link dropdown-toggle text-dark" role="button" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ gender.label }}#}
        {#                    </a>#}
        {#                    <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">#}
        {#                        <a class="dropdown-item text-dark" href="{{path('product_by_gender', {'id': gender.id})}}">Tout</a> {% for cat in cats %}#}
        {#                            <a class="dropdown-item text-dark" href="{{path('product_by_options', {gender: gender.id, cat: cat.id})}}">{{cat.label}}#}
        {#                            </a> {% endfor %}#}
        {#                    </div>#}
        {#                </li>#}
        {#            {% endfor %}#}
        {#        </ul>#}
        <ul class="navbar-nav ml-auto nav-flex-icons">

            <form class="form-inline">
                <div class="md-form my-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" style="background: none;">
                </div>
            </form>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black;">
                    <i class="fas fa-user"></i>
                </a>

                <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">

                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="visible dropdown-item text-dark" href="{{path('admin_panel')}}">Administration</a> {% else %}
                    {% endif %}
                    <a class="visible dropdown-item text-dark" href="{{path('logout')}}">Déconnexion</a>
                </div>
            </li>
        </ul>
    </div>
    <button class="navbar-toggler navbar-light" data-toggle="collapse" data-target="#collapse_target">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>