{% extends 'base.html.twig' %} {% block title %}Santa clothes {% endblock %} {% block body %}


<div class="container-fluid">

    <div class="recap">
            {% for lineItem in orders.lineItems %}
            <p>Référence : {{lineItem.product.name}} - Quantité : {{ lineItem.quantity }} - Prix total : {{lineItem.price}} €</p>
            {% endfor %}
            <p>TOTAL : {{orders.total}} €</p>
            <h5 class="card-title">Infos personnelle</h5>
            <p>Nom: {{app.user.firstName}}</p>
            <p>Prénom: {{app.user.lastName}}</p>
            <p> email: {{app.user.email}}</p>
            <a href="{{path('confirm_order', {id: orders.id})}}" class="btn btn-outline-primary">Validez commande</a>
    </div>



</div>{% endblock %}