{% extends 'base.html.twig' %}

{% block title %}Register || Login{% endblock %} {% block body %}
<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }
    
    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }
</style>

{#
<div class="container-fluid ">
    {% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="example-wrapper">
        <h1>Login page ! ✅</h1>
        <form action="{{path('login')}}" method="POST">
            <input type="text" name=" _username" value="{{last_username}}" placeholder="Username here .. ">
            <input type="password" name=" _password">

            <button type="submit"> Login </button>
        </form>
    </div> #}
    <div class="container register"> {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="https://cdn4.iconfinder.com/data/icons/christmas-2018-3/512/Santasantaclaussanta_facechristmas-512.png" alt="" />
                <h3>Bienvenue!</h3>
                <p>Rejoins le groupe Santa!</p>
                {# <input type="submit" name="" value="Login" /><br/> #}
            </div>
            <div class="col-md-9 register-right">
                <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Inscription</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Connexion</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="First Name *" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Last Name *" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Password *" value="" />
                                </div>

                                <div class="form-group">
                                    <div class="maxl">
                                        <label class="radio inline"> 
                                                    <input type="radio" name="gender" value="male" checked>
                                                    <span> Homme</span> 
                                                </label>
                                        <label class="radio inline"> 
                                                    <input type="radio" name="gender" value="female">
                                                    <span>Femme </span> 
                                                </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email *" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Confirm Password *" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control" placeholder="Your Phone *" value="" />
                                </div>
                                <input type="submit" class="btnRegister" value="Register" />
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="First Name *" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Last Name *" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="email" name=" _username" class="form-control" placeholder="Email *" value="{{last_username}}" required autofocus/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-group">
                                        <input type="text" maxlength="10" minlength="10" class="form-control" placeholder="Phone *" value="" />
                                    </div>
                                    <input type="password" name=" _password" class="form-control" placeholder="Password *" value="" required/>
                                </div>

                                {# The hidden path to auto redirect the route #}
                                <input type="hidden" name="_target_path" value="/account" />

                                <input type="submit" class="btnRegister" value="Register" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

