{% extends 'base.html.twig' %}

{% block title %}Santa Clothes|| Login{% endblock %}

{% block body %}


<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{# <div class="container-fluid ">
    {% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
#}


<div class="container register">

	<div class="row">
		<div class="col-md-3 register-left">
			<img src="https://cdn4.iconfinder.com/data/icons/christmas-2018-3/512/Santasantaclaussanta_facechristmas-512.png" alt=""/>
			<p>Log in to pass your command!</p>
		</div>
		
		<div class="col-md-9 register-right">
				<ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link " href="{{path('register')}}">inscription</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active"  >connexion</a>
						</li>
					</ul>
			
			<div class="tab-content" id="myTabContent">
				
				{# This is a form to log in  #}
				
				{# <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab"> #}
					<form action="{{path('login')}}" method="POST">
						<div class="row register-form">
							<div class="col-md-6">
								
								<div class="form-group">
									<div class="form-group">
										<input type="email" name="_username" class="form-control" placeholder="Your Email *" value="{{username}}" />
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="password" name="_password" class="form-control" placeholder="Password *" value="" />
								</div>
								<div class="col-md-12">
									
									<div class="form-group">
										<input type="submit" class="btnRegister"  value="Se connecter"/>
									</div>
								</div>
								{# The hidden path to auto redirect the route #}
								<input type="hidden" name="_target_path" value="/"/>

								{# <input type="hidden" name="_csrf_token"
											value="{{ csrf_token('authenticate') }}" > #}
							</div>
						</div>
					</form>
				{# </div> #}
			</div>
		</div>
	</div>
</div>



{% endblock %}