{% extends 'base.html.twig' %}

{% block title %} Santa Clothes {% endblock %} 

{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{# <div class="container-fluid ">
    {% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
#}


<div class="container register">

	<div class="row">
		<div class="col-md-3 register-left">
			<img src="https://cdn4.iconfinder.com/data/icons/christmas-2018-3/512/Santasantaclaussanta_facechristmas-512.png" alt=""/>
			<h3>Welcome!</h3>
			<p>You are 30 seconds away from joining our family !</p>
		</div>
		
		<div class="col-md-9 register-right">
			<ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active">inscription</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{path('login')}}" >connexion</a>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent">
					<form action="" method="POST">

				<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
						<div class="row register-form">
							<div class="col-md-6">
								
								<div class="form-group">
									{{form_widget(register.firstName)}}
								</div>
								
								<div class="form-group">
									{{form_widget(register.lastName)}}
								</div>
								
								<div class="form-group">
									{{form_widget(register.email)}}
								</div>
								
								<div class="form-group">
									<div class="maxl">
										<label class="radio inline">
											<input type="radio" name="gender" value="male" checked>
											<span> Male </span>
										</label>
										<label class="radio inline">
											<input type="radio" name="gender" value="female">
											<span>Female </span>
										</label>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
								   {{form_widget(register.password.first,{'attr': {'placeholder': 'Password * '}})}}
								</div>
								<div class="form-group">

									{{form_widget(register.password.second,{'attr': {'placeholder': 'Repeat Password * '}})}}
								</div>
								
								{{ form_widget(register.save, { 'label': "s'inscrire" }) }}	

							</div>
						</div>
						{{form_rest(register)}} 
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>



{% endblock %}